<section class="dashboardPageAC">
  <div class="dashboardHeaderAC">
    <div>
      <!-- <img src="/images/Home Buddy-logos.jpeg" alt="logo" /> -->
      <h1>Home Buddy</h1>
    </div>
    <div id="logoutBtn" class="logoutBtnAC">
      Logout
    </div>
  </div>
  <div class="iconContainerAC">
    <section class="iconsAC">
      <div class="acIconAC">
        <a href="/dashboard/air-conditioner" style="text-decoration: none;">Air Conditioner</a>
      </div>
      <div class="fireplaceIconAC">
        <a href="/dashboard/fireplace" style="text-decoration: none;">Fireplace</a>
      </div>
      <div class="gasIconAC">
        <a href="/dashboard/gas" style="text-decoration: none;">Gas</a>
      </div>
      <div class="lawnIconAC">
        <a href="/dashboard/lawn" style="text-decoration: none;">Lawn</a>
      </div>
      <div class="trashIconAC">
        <a href="/dashboard/trash" style="text-decoration: none;">Trash</a>
      </div>
      <div class="waterIconAC">
        <a href="/dashboard/water-tank" style="text-decoration: none;">Water Tank</a>
      </div>
      <div class="phoneIconAC">
        <a href="/dashboard/phone" style="text-decoration: none;">Phone</a>
      </div>
      <div class="addIconAC">
        <a href="/dashboard/add" style="text-decoration: none;">Add</a>
      </div>
    </section>
    <div class="acSchedules">
      <h2>Schedules:</h2>
      <form id="scheduleForm">
        <input type="hidden" name="schedule_id" id="schedule_id" value="{{schedule.id}}" />
      <table class="table table-sm table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
            <th scope="col">Item Info</th>
            <th scope="col">Notes</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" size="3" value="{{schedule_date}}" name="schedule_date" id="schedule_date" /></td>
            <td><input type="text" size="8" value="{{action}}" name="action" id="action" /></td>
            <td>{{item_info}}</td>
            <td><input type="text" size="8" value="{{notes}}" name="notes" id="notes" /></td>
            <td><input type="text" size="3" value="{{status}}" name="status" id="status" /></td>
            <td><input type="submit" value="Save" />
          </tr>
        </tbody>
      </table>
      </form>
    </div>
  </div>
</section>
<script src="/javascript/logout.js"></script>
<script src="/javascript/air-conditioner.js"></script>